<!doctype html>
<html>
    <head>
        <link rel="SHORTCUT ICON" href="../static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    </head>
    <body>
        <form id = "room_info_form">
            <label for="username">Name: </label>
            <input type="text" name=”username” id="username">
            <label for="username">Room: </label>
            <input type="text" name=”room_name” id="room_name">
            <button id="join_leave">Join call</button>
        </form>
        
        <p id="count"></p>

        <div id="mainDiv">
            <div id="dataDiv"></div>

            <div id="container" class="container">
                <div id="local" class="participant">
                    <div id="me" class = "tracksDiv"></div>
                    <div>Me</div>
                </div>
            </div>
        </div>

        <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
        <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/app.js"></script>
    </body>
</html>